
<dialog id="detailsModal" class="hidden max-w-4xl w-[90%] flex flex-col items-center justify-center h-[92%] absolute top-[4%] left-0 z-50 rounded-lg  px-5 mx-auto">
    <div class="@container w-full h-full flex flex-col items-center justify-center bg-white rounded-lg ">
        <header class="w-full h-fit flex items-center justify-between sticky top-0 bg-white z-30 py-4">
            <h2 class="text-xl font-bold">Details</h2>
            <button class="text-2xl font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
            </button>
        </header>
        <div class=" w-full h-full flex flex-col  overflow-auto py-4">
            <div class="content h-fit flex flex-col @[400px]:grid  @[400px]:grid-cols-2 gap-4 mb-4">
                <label for="dateCreated" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Date created
                    <input type="text" id="dateCreated" value="2024-01-01" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="productId" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Product ID
                    <input type="text" id="productId" value="1" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="productName" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Product Name
                    <input type="text" id="productName" value="Product 1" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="productPrice" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Product Price
                    <input type="text" id="productPrice" value="100" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="quantity" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Quantity
                    <input type="text" id="quantity" value="10" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="categoryName" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Category Name
                    <input type="text" id="categoryName" value="Category 1" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="supplierName" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Supplier Name
                    <input type="text" id="supplierName" value="Supplier 1" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="description" class="w-full h-fit flex flex-col items-start justify-start text-gray-700 col-span-2">Description
                    <textarea type="text" id="description" value="Description 1" rows="5" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500"></textarea>
                </label>
            </div>
            <div class="content h-fit flex flex-col @[400px]:grid  @[400px]:grid-cols-3 gap-4">
                <label for="inventory" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Inventory
                    <input type="text" id="inventory" value="10" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="store1-inventory" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Store 1
                    <input type="text" id="store1-inventory" value="10" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
                <label for="store2-inventory" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Store 2
                    <input type="text" id="store2-inventory" value="10" disabled class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500">
                </label>
            </div>
        </div>
    </div>
</dialog>
<div id="detailsModalOverlay" class="hidden h-full bg-black/50 absolute top-0 left-0 z-40"></div>