
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css" />
  <!-- tailwind -->

  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <style type="text/tailwindcss">
    #sidenav .nav-link.active .content,
    #sidenav .nav-link.active .content:hover {
      @apply bg-indigo-600 text-white;
    }
    #sidenav .nav-link.active svg path{
      @apply stroke-white;
    }
    #sidenav .nav-link .content:hover {
      @apply bg-gray-100;
    }
  
    .table-header { 
      @apply px-4 py-3 md:px-6 md:py-3 font-normal text-sm text-gray-500 bg-gray-200 border-b border-gray-200;
    }
    .table-data {
      @apply bg-white px-4 py-3 md:px-6 md:py-4 border-b border-gray-200 text-sm text-gray-800;
    }

    .table-row:nth-child(even) .table-data {
      @apply bg-gray-50 !important;
    }

  </style>
  <script defer src="/js/script.js"></script>
  <title>Inventory App | <%= title %></title>
</head>
