


        <form action="/products/new" method="post" enctype="multipart/form-data" class=" @container w-full h-full flex flex-col py-4">
            <div class="content h-fit flex flex-col @[400px]:grid  @[400px]:grid-cols-2 gap-x-10 gap-y-6 md:gap-y-8 mb-8">
                
                <label for="productName" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Product Name
                    <input required placeholder="Product Name" type="text" id="productName" name="productName" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
                </label>
                <label for="productPrice" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Product Price ($)
                    <input required placeholder="Product Price" type="number" min="0" inputmode="numeric" step="0.01" id="productPrice" name="productPrice" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
                </label>
                <label for="quantity" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Quantity
                    <input required placeholder="Quantity" type="number" id="quantity" min="0" name="quantity" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
                </label>
                <label for="category" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Category Name
                    <select required placeholder="Select Category" id="category"  class="w-full h-fit border border-gray-300 p-2 rounded-md mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" name="category">
                        <option value="">Select Category</option>
                        <% categories.forEach(category => { %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                        <% }) %>
                      </select>
                </label>
                <label for="supplier" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Supplier Name
                    <select required placeholder="Select Supplier" id="supplier"  class="w-full h-fit border border-gray-300 p-2 rounded-md mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" name="supplier">
                        <option value="">Select Supplier</option>
                        <% suppliers.forEach(supplier => { %>
                          <option value="<%= supplier.id %>"><%= supplier.name %></option>
                        <% }) %>
                      </select>
                </label>
                <!-- image -->
                <label for="image" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">UploadImage
                     <input type="file" id="image" name="image" accept="image/*" class="hidden w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">

                    <div  class="w-[100px] h-[56px] aspect-[16/9] flex items-center justify-center border border-gray-300 rounded-md text-gray-500 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent object-cover cursor-pointer">
                        <!-- if input is empty  show image placeholder -->
                        <img id="imagePreview" src="/images/image-fill.svg" alt="Image Preview" class=" h-[70%] mx-auto mt-auto mb-auto object-cover">
                    </div>
                </label>



                <!-- description -->
                <label for="description" class="w-full h-fit flex flex-col items-start justify-start text-gray-700 col-span-2">Description
                    <textarea  placeholder="Description" type="text" id="description" name="description" rows="5" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent resize-none"></textarea>
                </label>
            </div>
            <div class="content h-fit flex flex-col @[400px]:grid  @[400px]:grid-cols-2 gap-4">
                <!-- cancel button -->
                <a href="/products" class="bg-white text-gray-500 px-3 py-[0.625em] rounded-lg border flex justify-center items-center border-gray-200 text-sm text-nowrap text-center hover:bg-gray-100">
                Cancel
                </a>
                <!-- add product button -->
                <button type="submit" class="bg-indigo-500 text-white px-3 py-[0.625em] rounded-lg border flex justify-center items-center border-gray-200 text-sm text-nowrap text-center hover:bg-indigo-600">
                Add Product
               </button>
            </div>
        </form>