<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", { title: "Home" }) %>
<body class="bg-gray-100 flex flex-col min-h-screen overflow-hidden lg:flex-row">
  <%- include("partials/nav", { active: "dashboard" }) %>
  <main>
    <h1>Welcome to Dashboard</h1>
  </main>

  
</body>
</html>