<!DOCTYPE html>
<html lang="en">
  <%- include("head", { title: "Home" }) %>
<body>
  <h1 id="texting" class="text-3xl font-bold underline">
    Hello world! <br />
    Welcome to the Inventory App
  </h1>
</body>
</html>